<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>DNI:</strong>
  <%= @company.identification %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @company.balance %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
